body {
    padding-top: 5rem;
}

.wrapper{
	display: grid;
	margin:10px;
}

.wrapper{
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: 280px;
}


img{
	height: 280px;
	width: 330px;
	padding: 6px;
}